$color1: rgba(62, 38, 117, 0.5);
$color2: rgba(148, 17, 17, 0.541);
$color3: brown;  




.jumbotron{
    background-color: $color2;
}
html,body{
    height: 100%;
    width: 100%;

}
body{

background-image: url(wooden.jpg) ;
    
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     }

   .imagen1{
       background-image: url(imagenes/lija.jpg);
       height: 200px;
       width: 100%;
       background-repeat: no-repeat;
        }


@mixin container($ancho, $alto, $color) {
  width: $ancho;
  height: $alto;
  background-color: $color;
  border-radius: 5%;
  text-align: center;
  margin: 5px;
} 

.box_uno{
  @include container(cover, 100px, #33D374)
}
.box_dos{
  @include container(cover, 50px, #108EFF)
}