.jumbotron{
    background-color: rgba(47, 79, 79, 0.548);
}
html,body{
    height: 100%;
    width: 100%;

}
body{

background-image: url(wooden.jpg) ;
  
    height: 100%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     }

   .imagen1{
       background-image: url(imagenes/lija.jpg);
       height: 200px;
       width: 100%;
       background-repeat: no-repeat;
       
       
   }
