
body{
    height: 70vh;
    background-image: url(wooden.jpg);
    
}

footer{
    text-align: center;
    height: 30vh;
    
}
.contenedor1{
    height: 300px;
    width: 500px;
    background-image: linear-gradient(beige , brown ) ;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    
}
#t1{
    transition: height 0.7s;
}
#t1:hover{
    height: 350px;
    width: 100%;
}
.contenedor2{
    border: 2px solid #0000;
    height: 200px;
    font-size: 30px;
    padding: 10px;
    font-family: sans-serif;
    
}

#t2{
    transition: all 2s;
}

#t2:hover{
    text-align: center;
    font-size: 50px;

}